# File on it's own does nothing in the doom config!
# I link it to the directory where I store all my projects!

root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
tab_width = 4

[Makefile]
indent_style = tab

[*.hbs]
indent_style = space
tab_width = 2

[*.{c,cpp,h,hpp}]
indent_style = tab

[*.mjs]
indent_style = tab
tab_width = 4

[*.json]
indent_style = tab
tab_width = 4
