# File on it's own does nothing in the doom config!
# I link it to the directory where I store all my projects!

root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{c,cpp,h,hpp}]
indent_style = tab

[*.{py,js}]
indent_style = space

